body {
    background-color: rgb(199, 239, 255);
    color: navy;
    width: 100%;
    margin: auto;
    text-align: center;
}

header {
    background-color: rgb(255, 237, 210);
    color: navy;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    padding: 10px 10px 10px 10px;
}
#product-container {
    /*display: none; */
    margin: auto;
    text-align: center;

}

#thanks {
    padding: 20px 20px 20px 20px;
}